# A mature full-featured Python testing tool.
# License: MIT
# Upstream url: http://pytest.org/
pytest>4

# Pytest plugin for measuring coverage.
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest-cov
pytest-cov>2.3.0
